.vscode
build
src/site/public/yutovo_web.data
src/site/public/yutovo_web.js
src/site/public/yutovo_web.wasm
src/site/public/yutovo_web.worker.js
src/site/fonts
src/site/images
src/site/node_modules
src/site/test/__pycache__
src/site/downloads
yutovo-server.env
.qwen
test-results