<!DOCTYPE html>
<html>
    <head>
        <title>Yutovo - visual online calculator</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
        <link rel="icon" type="image/png" sizes="256x256" href="icons/favicon-256x256.png">
        <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
        <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
        <link rel="icon" type="image/ico" href="favicon.ico">
        <script>
            window.Module = window.Module || {};
            window.Module.onAbort = function(what) {
                console.error('WASM ABORT:', what);
                if (typeof Error !== 'undefined') {
                    console.error(new Error().stack);
                }
            };
            window.Module.onRuntimeInitialized = function() {
                console.log('WASM RUNTIME INITIALIZED');
            };
            window.onerror = function(msg, url, line, col, err) {
                console.error('WINDOW ERROR:', msg, url, line, col, err && err.stack);
                return false;
            };
            window.onunhandledrejection = function(e) {
                console.error('UNHANDLED REJECTION:', e.reason, e.reason && e.reason.stack);
            };
        </script>
    </head>
    <body>
        <!-- quasar:entry-point -->
    </body>
</html>
